nav  ul li a{
    font-size: 20px;
    margin-right:20px;
    text-decoration: none;
}
.navbar-brand{
    font-size:35px;
}
.navbar-default {
    background-color: inherit;
}

.container-fluid {
    pading-top:5px;
}

.nav li a  hover{
    bakground-color:inherit;
}

